

.main-footer{
    background-image: url("kane.jpg");
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    padding: .25em;
    background-position: 50% 90%;
    color:white;

}

.main-header {
    background-image: url("kane.jpg");
    background-size: cover;
    padding-bottom: 150px ;
    background-position: 50% 20% }



.main-name{
    text-align:center;
    margin:0;
    font-size: 5.5em;
    color:rgba(18, 6, 41, 0.788);
    font-family: monospace;
   

}